{:kotoba.app/id "cloud.itonami.isic-3822", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihw2halgimrs4zs5sqellm7kpa5ersakdudiyvh2st6aedqvnqqjm", :kotoba.app/embed-url "ipfs://bafkreihw2halgimrs4zs5sqellm7kpa5ersakdudiyvh2st6aedqvnqqjm", :published {:archive "https://kotobase.net/ipfs/bafkreihw2halgimrs4zs5sqellm7kpa5ersakdudiyvh2st6aedqvnqqjm", :size 72775, :put-status 201, :get-status 200, :at "2026-08-15T13:38:07.379Z"}}
